In [7]:
#역슬래시 사용해서 작은 따옴표와 큰 따옴표 문자열에 포함
comment="\"Don't do it\", Hyeonsu said."
print(comment)

comment2 = '"Don\'t even try it", teacher said'
print(comment2)

#아 알겠다~ 문자열로 만들고 싶은 letter에만 역슬래시 넣으면 되네

"Don't do it", Hyeonsu said.
"Don't even try it", teacher said

In [10]:
# 여러줄의 문자열을 변수에 대입할 때
multiline = "life is too short\nYou need hyeonsu"
print(multiline)

multiline2 = "life is too short\nYou need hyeonsu\nhyeonsu is god"
print(multiline2)

#아 알겠다~ 역슬래시가 여러 기능이 있구나

life is too short
You need hyeonsu
life is too short
You need hyeonsu
hyeonsu is god

In [11]:
multiline3 = """
안녕
내가 누군지 아니
이하늬다
"""

print(multiline3)

#아 그냥 이렇게 하는 방법도 있구나

안녕
내가 누군지 아니
이하늬다

In [16]:
# 문자열 더하기
head ="python"
tail =" is not fun"
head+tail
#그냥 이렇게 바로 더해지네

'python is not fun'

In [17]:
a = 'python'
a*2
#여기도 바로 곱해지고

'pythonpython'

In [18]:
print("="*50)
print("Ara you having fun?")
print("="*50)

# 아 이렇게 하니까 훨씬 편하네

==================================================
Ara you having fun?
==================================================

In [21]:
apple = 'how are you today'
len(apple)
# 띄어쓰기도 포함되는 구나
apple2 = 'how are you, today'
len(apple2)
# 쉼표도 포함

18

In [34]:
apple2[0:2] # 앞에서 두개
apple2[-2] # 뒤에서 두번쨰
apple2[:] #전체
apple2[-2:] # 뒤에서 두번째부터 전체
apple2[5:] # r부터 전체
# 슬라이싱

apple2[4:7] = 'were' # are을 were로 교체
apple2
#는 안되네? 문자열은 이렇게 일부분만 교체는 안되나봐

new_apple = apple2[:4] + 'were' + apple2[7:]
print(new_apple)
#이런 식으로 새로 assign 해야 하는 구나

how were you, today

In [52]:
# 문자열 포매팅
'I eat %d apples.' % 5
'I eat %s apples.' % 'five'

five = 5
'I eat %d apples.' % five
# 오 신기하다. %에 따라 변수를 밖으로 빼는 건가?
# 그리고 %d 는 숫자, %s는 string만 되네
# 변수 저장도 되고

# 두 개 이상도 해볼까

'I eat %d apples with %s' % (5, 'Hyeonsu') # 이럴때는 묶기

# 굳이 숫자는 %d, 문자열은 %s로 할 필요없이 모두 %s로 해도 된다네

'I eat %s apples with %s' % (5, 'Hyeonsu') # 이럴때는 묶기

# %랑 섞어서 쓸 때는?
"I've done %s%% of my homework" % 50

# 아 백슬래시 \랑 똑같이 문자로써 표현하고 싶으면 두 개 이어붙이면 되는구나!

"I've done 50% of my homework"

In [7]:
# 정렬과 공백

"%10s" % "hi"
# 이러면 전체 길이를 10개에서 오른쪽에 hi를 한 거고

"%-10s" % "hi"
# 이러면 전체 길이를 10개에서 왼쪽에 hi를 한 거

sentence= "%-10s,Jane" % "Hi"
# 이러면 전체 길이 10개에서 왼쪽에 Hi가 있고, 오른쪽에는 ,Jane이 있음
# 아, 아니구나. 10개에 왼쪽에 HI가 있고, ",Jane" 5개가 있으니 총 15개네.

15

In [12]:
#소수점으로 짜르는 거네, %f를 사용하는구나
"%0.4f" % 3.14152827
"%10.4f" % 3.4212334
# 아 이거는 전체 길이를 10개로 두고 오른쪽에 소수점 4자리까지 붙인다는 거네

'    3.4212'

In [29]:
# format 함수 활용
three = 3
name = "hyeonsu"
"I eat {0} apples".format(4) # 숫자도 가능
"I eat {0} apples".format('five') #문자도 가능
"I eat {0} apples".format(three) #변수도 가능
"I eat {0} apples with {1}".format(three,"hyeonsu") #이렇게 2개도 가능
"I eat {0} apples with {1}".format(three,name) #이렇게 2개도 가능

#변수 이름으로 넣는 게 제일 좋아보이네
"I eat {three} apples with {name}".format(three=10,name="hyeonsu")
"I eat {three} apples with {name}".format(three,name) #근데 이건 안되네.

'I eat 10 apples with hyeonsu'

In [43]:
# 정렬하는 것
"{0:<10}".format("hi") #아까 본거랑 좀 비슷하네?
"%-10s" % "hi" # 요렇게 하면 둘이 똑같네.
"{0:>10}".format("hi") # 이러면 오른쪽 정렬
"{0:^10}".format("hi") # 이러면 가운데 정렬

'hi'

In [77]:
# 공백 채우기
"{0:=^10}".format('hi') #10개의 길이를 만들고 hi를 가운데 정렬하고 나머지를 =로 채우는 거네?
"{0:!^10}".format('hi') #10개의 길이를 만들고 hi를 가운데 정렬하고 나머지를 !로 채우는 거네?

#소수점 표현하기
y = 3.123456789
"{0:0.4f}".format(y) #반올림 한 거 였네
# "{0:10.4f}".format(y) #이러면 총 길이 10개 였던 거 같은데, 맞군

#3 또는 문자 표현하기

# "{{ and }}".format() #이렇게 연속해서 2개를 쓰면 되네 %나 \ 나 {} 같이 특별한 코드들은

'3.1235'

In [84]:
# f 문자열 포맷팅

name = '홍길동'
age = 30
year = 2008
f'나의 이름은 {name}입니다. 나이는 {age}입니다' # 아, 이거 엄청 편하네 f로 다는게 매우 편하다.
f'나의 이름은 {name}입니다. {year}후에, 나는 {age+year}입니다' # 오~, 변수끼리 계산도 되네.

d= {'name':'홍길동','age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다' # 음, 이렇게 딕셔너리 자료형에서 가져오는 것도 되네

# 정렬
f'{"Hi":<10}' # 10개 두고 왼쪽으로 정렬
f'{"Hi":>10}' # 10개 두고 오른쪽으로 정렬
f'{"Hi":^10}' # 10개 두고 가운데로 정렬

# 소수점
y = 23.123456789
f'{y:0.5}' # 이건 약간 다르게 5자리가 아니라 총 5자리네

'23.123'

In [110]:
# 1분 코딩 format 함수나 f 포맷팅을 활용해 !!!python!!! 문자열을 출력해보기

"{0:!^12}".format("python") # 아 됐다.
word = 'python'
f'{word:!^12}'
f'{"python":!^12}'

'!!!python!!!'

In [166]:
# 문자열 내장 함수들
a = "hobby"
a.count('b') #세는 거 같네

a = "i can bet you can count how many 'b' is in this sentence"
a.count('b')
a.find('b') # 제일 처음 나온 위치
a.find('k') #-1이 반환되면 없는 거
# a.index('k') #얘는 없으면 에러 뜸

#문자열 삽입
",".join('abcd')
",".join(['a','b','c','d']) 

# 공백지우기
a =' hi '
a.lstrip()
a.rstrip()
a.strip()
a = "You Only Live Once"
a.replace("You","We") #이걸로 string 자료형을 대체하는 거 있네
a.split() # 얘는 단어들을 모두 리스트에 넣어버리네, 공백 (스페이스)를 기준으로 구분하고
b= a.strip() #가운데 고백은 안 지워지네
b.replace("You","\ You")
print(b)
# b.split()

You Only Live Once