In [3]:
# 집합

s1 = set([1,2,3])
s1 # 오홍, 튜플처럼 생겼는데 ()가 아니라 dictionary처럼 {}로 묶네

s2 = set("Hello")
s2 # 오 원소들만 있네, 중복을 고려해서 독립적인 원소만 뽑는구나

s3 = set("BACD")
s3 #3 순서도 없네? 인덱싱이 안되겠네? 딕셔너리랑 비슷하네

{'A', 'B', 'C', 'D'}

In [7]:
s1 = set([1,2,3])
l1 = list(s1) # 이렇게 리스트화 시킬 수도 있고
l1

l1[0] # 리스트로 변환했으니 인덱싱 할 수도 있네

t1 = tuple(s1)
t1
t1[0] # 튜플로 변환했을 때도 인덱싱 할 수 있어

1

In [15]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

s1 & s2 # 두 집합의 교집합
s1 | s2 # 합집합이네 백스래시 + 쉬프트
s1 - s2 # 이렇게 차집합도 되고

s1.add(7) #이렇게 원소 더할 수도 있고
s1

s1.update([8,9,10]) # 이렇게 update할수도 있ㅇ
s1

s1.remove(10) #이렇게 remove 할수도 있고
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
# 딕셔너리 만들 때 주의사항

# 1. 이렇게 key 값이 겹치면 뒤에 있는 걸로 override 됨
a = {1:'a',1:'b'}
a

# 2. 리스트는 key 값으로 쓸 수 없음
# 리스트는 변할 수 있는 자료형이므로 key로 적절하지 않음. 그래서 변하지 않는 튜플은 가능함
# a = {[1,2]:'a'} 
b = {(1,2):'a'} 
b
c = {'a': [1,2,3]} #이렇게 value에는 리스트를 넣을 수 있음
c

{'a': [1, 2, 3]}

In [50]:
# 딕셔너리 관련 함수

dic = {'name':'pey','phone':'010-9999-1234','birth':'1118'}
dic.keys() # 이렇게 dic.keys 객체를 리턴함, 리스트를 리턴하는 게 아님

dic.values() # values 리턴
dic.items() #튜플로 묶은 값 리턴

dic.clear() #아예 다 제거

dic = {'name':'pey','phone':'010-9999-1234','birth':'1118'}
dic.get('name')
print(dic.get('hyeonsu')) # key값이 없는 걸 get 하면 None이 print됨
# dic['hyeonsu'] # 이렇게 쓰면 key 값이 없는 걸 찾을 때 key error가 발생함


dic.get('hyeonsu', 'not here') #이러면 key 값이 없을 때 None 대신 뒤에 있는 게 출력됨
dic.get('name', 'here') # 이러면 key 값이 있으므로 'here' 대신 value 값인 'pey'가 출력됨

'name' in dic # 이러면 true를 반환함
'hyeonsu' in dic # 'hyeonsu'라는 key 값이 없으므로 false를 리턴하고
'pey' in dic # value를 넣어도 false 를 리턴함. key 값이 아니기 때문에

None

False

In [62]:
# 1분 코딩
a = {'name': '홍길동','birth': 1128,'age': 30}
print(a)
a.keys()
a.values()
a['marriage']= False
print(a)

a['children'] = ['baby1','baby2']
print(a)
del a['children']
print(a)

a.get('name')
a['name']

{'name': '홍길동', 'birth': 1128, 'age': 30}
{'name': '홍길동', 'birth': 1128, 'age': 30, 'marriage': False}
{'name': '홍길동', 'birth': 1128, 'age': 30, 'marriage': False, 'children': ['baby1', 'baby2']}
{'name': '홍길동', 'birth': 1128, 'age': 30, 'marriage': False}

'홍길동'